html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
	outline: 1px solid limegreen !important;
}

.links a {
	padding-right: 0.5em;
}

body {
	margin: 0;
	color: black;
}

.content {
	font-size: large;
	max-width: 800px;
	margin: auto;
	padding: 1rem;
}

.light-red {
	color: #ff6469;
}

h1 {
	text-align: center;
}

header {
	text-align: center;
}

a {
	color: limegreen;
}

.center-text {
	text-align: center;
}

.justify-text {
	text-align: justify;
}

.bible-verse {
	text-align: center;
}

.small-text {
	font-size: small;
}

.strong-text {
	color: limegreen;
}

.cropped {
	text-align: center;
	height: 200px;
	overflow: hidden;
}

.cropped img {
	min-width: 800px;
	margin-top: -250px;
}

.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.m-16 {
	margin: 16px;
}

.gap-24 {
	gap: 24px;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.align-center {
	align-items: center;
}

.mh-216 {
	min-height: 216px;
}

.mw-196 {
	min-width: 196px;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #1f252f;
		color: #ffffff;
	}

	.light-red {
		color: #fa7176;
	}
}